#foodsContainer{
    height: 100%;
}
.foods-category{
    margin: 20px 0;
}
.foods-category button{
    border: none;
    margin: 10px;
    background-color: #fff;
}
.foods-category button:hover{
    border-bottom: 2px solid #000;
}
.category-menu{
    text-decoration: none;
    margin: 0 10px;
    color: #000;
    font-size: 18px;
}
.Category-button {
    height: 50px;
}