.checkout{
    background-color: rgba(231, 248, 201, 0.336);
}
.cart-product{
    width: 60%;
    background-color: rgba(224, 224, 233, 0.596);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
.calculation{
    width: 60%;
    background-color: rgba(224, 224, 233, 0.596);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.checkout-form{
    width: 70%;
    margin: auto;
}
.checkout-form input{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(235, 227, 227);
    border-radius: 5px;
    margin: 5px 0;
}
.saveAndContinue{
    background-color: rgb(233, 27, 27);
    border: none;
}
.placeOrder{
    width: 60%;
    margin: auto;
}